{% extends "base.html" %}

{% block title %}Minha Conta{% endblock %}

{% block container %}
<br>
<br>
<!--<ol class="breadcrumb">
  <li><a href="#">Início</a></li>
  <li class="active">Minha Conta</li>
</ol>-->
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
          <a href="{% url 'accounts:index' %}" class="list-group-item active">Minha Conta</a>
          <a href="{% url 'accounts:update_user' %}" class="list-group-item">Alterar Dados</a>
          <a href="{% url 'accounts:update_password' %}" class="list-group-item">Alterar Senha</a>
          <a href="{% url 'checkout:order_list' %}" class="list-group-item">Meus Pedidos</a>
          {% if user.is_staff %}
            <a href="{% url 'checkout:sells' %}" class="list-group-item">Minhas Vendas</a>
          {% endif %}
        </div>
    </div>
    <div class="col-md-8">
        {% block accounts_container %}
            <h2>Bem vindo {{ user }}</h2>
            {% if user.is_superuser %}
                <li><a href="/admin">Página do Administrador</a></li>
            {% endif %}
        {% endblock %}
    </div>
</div>
{% endblock %}
