{% extends "accounts/index.html" %}

{% load pagination %}

{% block title %}
Minhas Vendas
{% endblock %}

{% block accounts_container %}
<h2>Minhas Vendas</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Postado
            </th>
            <th>
                Preço Unid.
            </th>
        </tr>
    </thead>
    <tbody>
        {% for product in object_list %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url}}">{{ product.name }}</a>
            </td>
            <td>
                {{ product.created }}
            </td>
            <td>
                {{ product.price }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% pagination request paginator page_obj %}
{% endblock %}