{% extends "base.html" %}

{% block container %}
<div class="jumbotron page-header">
  <h1>Silício-Eletronica</h1>
  <p>A Silício-Eletrônica é um sistema de e-commerce produzido com foco na venda de produtos eletrônicos, sinta se livre para ver o que temos disponíveis para a compra.</p>
  <!--<p><a class="btn btn-primary">Saiba mais</a></p>-->
</div>
{% endblock %}
